streamlit
python-dotenv
langchain
langchain-community
chromadb
sentence-transformers
google-genai
langchain_huggingface
langchain_community.vectorstores
os
langchain_community.document_loaders
langchain_text_splitters





